body {
  overflow: hidden;
}
.main_container {
  min-height: 100vh;
  padding: 20px;
  border-bottom: 10px solid #181818;
  background: #fafafa;
  @media (max-width: 760px) {
    display: block !important;
    border-bottom: 2px solid #181818;
  }
}
.box {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 800px;
  margin-bottom: 80px;
  padding: 20px;
  transition: all 0.3s ease;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  @media (max-width: 760px) {
    display: block;
    margin-bottom: 0;
    padding: 40px 20px 20px 20px;
    text-align: center;
  }
}
.right {
  position: relative;
  overflow: hidden;
  flex: 1;
  min-height: 280px;
}
.my_photo {
  flex-basis: 210px;
  @media (max-width: 760px) {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
.routers {
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px !important;
  a {
    font-size: 14px;
    font-weight: 300;
    padding: 8px 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #ffffff;
    background: #181818;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &:hover, &.active {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}
.main_info {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #181818;
}
h1 {
  font-size: 26px;
  line-height: 1;
  margin: 0 0 10px 0;
  padding: 0;
  color: #181818;
}
h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0;
  color: rgba(0, 0, 0, .54);;
}
