<div class="main_container" fxLayout='row' fxLayoutAlign="center center">
  <div class="box">
    <div class="routers">
      <a href="" routerLink="/about" routerLinkActive="active">About</a>
      <a href="" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    </div>

    <div class="my_photo">
      <img alt="My photo" src="assets/my_photo.jpg">
    </div>

    <div class="right">
      <div class="main_info">
        <h1>Vasyl Skochko</h1>
        <h2>Front-end Developer</h2>
      </div>
      <div class="router_outlet">
        <div [@routeAnimations]="prepareRoute(outlet)">
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
